{% extends 'base.html' %}
{% block content %}

{% for entry in journal_entries %}
	<div class="card m-2">
	  <div class="card-body">
		  <h5 class="card-title"><a class="text-decoration-none text-dark" href="/entry/{{entry.date | date:"Y-m-d"}}">{{entry.date}}</a></h5>
	    <h6 class="card-subtitle mb-2 text-muted">
		{% if entry.title %}
		{{entry.title}}
		<br />
		{% endif %}
		{% for tag in entry.tags.all %}
		<span class="badge bg-secondary">{{tag.name}}</span>
		{% endfor %}
	    </h6>
	    <p class="card-text"}>{{entry.content | linebreaks}}</p>
	  </div>
	</div>
{% endfor %}

{% endblock content %}
